

    <div class="flex-item1">
	  <% if @user != nil %>	
			<%= render "users/sidebar",user: @user %>
			<% end %>
    </div>
	  <div class="flex-item2">
			<% @recipes.each do |recipe| %>
				<table class="table tables-bordered">
					<tbody>
						<tr>
								<th><%= image_tag attachment_url(recipe.user, :profile_image, :fill, 50, 50, format: "jpg", fallback: "japan.jpg") %><br>
								<%=link_to recipe.user.user_name, user_path(recipe.user.id) %></th>
								<th><br><br><%= link_to recipe.title, recipe, class: "recipe_#{recipe.id}" %></th>
								<th><br><br>カテゴリー:<%=link_to recipe.category.name, categories_path(recipe.category.id) %></th>
								
								<th><br><br>更新:<%= recipe.updated_at.to_s(:datetime_jp) %></th>
						</tr>
					</tbody>
				</table>
			<% end %>
    </div>
 