<h1>Recipes#new</h1>
<div class="container m-5">
<div class="row">
<%= form_for(@recipe) do |f| %>
  <div class="field row">
    <%= f.label :料理名 %>
    <%= f.text_field :title %>
  </div>

  <div class="field row">
    <%= f.label :"材    料" %> 
    <%= f.text_field :material %>
  </div>

  <div class="field row">
    <%= f.label :"手    順" %> 
    <%= f.text_field :process %>
  </div>

   <%= f.select :category_id,options_for_select(Category.all.map{|category|[category.name,category.id]}), {include_blank: "ジャンル"} %>


  <div>
    <%= f.submit "レシピ保存" ,class: 'btn btn-primary' %>
  </div>

  <% end %>
</div>
</div>