<h1>Recipes#show</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render "users/sidebar",user: @user %>
        </div>
		<div class="col-xs-9">
<table class="table">
					<tr>
						
                <td><%= link_to @recipe.title, @recipe %></td>
                <td><%= @recipe.material %></td>
                <td><%= @recipe.process %></td>
            <% if @recipe.user == current_user %>
                        <td>
                            <%= link_to "Destroy",@recipe, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_recipe_#{@recipe.id}" %>
                        </td>
            <% end %>
					</tr>
</table>
<p><span>名前: </span><%= @user.user_name %></p> <!-- 追加 -->
<p><span>ジャンル: </span><%= @category.name %></p>
</div>
</div>
</div>