
<div class="flex-item1">
			<%= render "users/sidebar",user: @user %>
</div>

<div class="flex-item2">
  <h1>レシピ詳細：</h1>
      <ul>
        <li><%= @recipe.title %>
        <p><span>ジャンル: </span><%= @category.name %></p>
        </li>
        
        <li>材料</li>
        <li>手順</li>
      </ul>
    
        <h5>材料:<br>
          <div class="scr_recipe">
            <%= @recipe.material %>
          </div>
        </h5>

        <h5>手順:<br>
          <div class="scr_recipe">
            <%= @recipe.process %>
          </div>
        </h5>
      

    

<% if @recipe.user == current_user %>
                        <td>
                            <%= link_to "Destroy",@recipe, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_recipe_#{@recipe.id}" %>
                        </td>
                   <% end %>





</div>
