

<table class="table">
		<tr>
				<th><%= image_tag attachment_url(user, :profile_image, :fill, 150, 180, format: "jpg", fallback: "japan.jpg") %></th>
		</tr>
	   <tr>
	  	  <th>名前:
        <%= user.user_name %>
        </th>
    </tr>
    
	<tr>
		<th>人物詳細</th>
  </tr>
  <tr>
	 <th>
	  <div class="scr">
      <%= user.introduction %>
    </div>
		</th>
	</tr>
	<% if current_user == @user %>
	<tr>
		<th>
		<%= link_to "新作レシピ投稿", new_recipe_path, class: "btn btn-info"%>
		</th>
	</tr>
	<tr>
		<th>
		<%= link_to "自分の情報の編集", edit_user_path(user.id), class: "btn btn-info" %>
		</th>
	</tr>
	<% end %>
</table>


