
<div class="flex-item1">
			<%= render "users/sidebar",user: @user %>
</div>
<div class="flex-item2">
<h2>登録情報編集</h2>
<%= form_for(@user) do |f| %>
<table>
  <tbody>
   <tr>
    <td>名前
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :user_name, class: "user_name" %>
    </div>
    </td>
   </tr>

   <tr>
    <td>フリガナ
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :user_kana_name, class: "user_kana_name" %>
    </div>
    </td>
   </tr>

   <tr>
    <td>詳細
    <div class="field scr">
      <%= f.label :" " %>
      <%= f.text_field :introduction, class: "introduction" %>
    </div>
    </td>
   </tr>
   <tr>
    <td>
    <div class="field">
      <%= f.label :"画像" %>
      <%= f.attachment_field :profile_image %>
    </div>
    </td>
   </tr>
  </tbody>
 
</table>
<div class="actions">
	<%= f.submit "編集内容を保存する", class: "btn btn-info" %>
</div>
<% end %>
</div>
