<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
ここここここ
<h1>Edit</h1>


<h2>登録情報編集</h2>

<%= form_for(@user) do |f| %>


<table>
  <tbody>
   <tr>
    <td>名前</td>
    <td>
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :user_name, class: "user_name" %>
    </div>
    </td>
    
   </tr>
   <tr>
    <td>フリガナ</td>
    <td>
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :user_kana_name, class: "user_kana_name" %>
    </div>
    </td>
    
   </tr>
   <tr>
    <td>メールアドレス</td>
    <td>
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :email, class: "email" %>
    </div>
    </td>
   </tr>
   
   
   
  </tbody>
</table>

<div class="actions">
	<%= f.submit "編集内容を保存する" %>
</div>

<% end %>