<h1>Users#edit</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render "users/sidebar",user: @user %>
    </div>
	 <div class="col-xs-9">
<h2>登録情報編集</h2>

<%= form_for(@user) do |f| %>
<table>
  <tbody>
   <tr>
    <td>名前</td>
    <td>
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :user_name, class: "user_name" %>
    </div>
    </td>
    
   </tr>
   <tr>
    <td>フリガナ</td>
    <td>
    <div class="field">
      <%= f.label :" " %>
      <%= f.text_field :user_kana_name, class: "user_kana_name" %>
    </div>
    </td>
    
   </tr>
   <tr>
    <td>詳細</td>
    <td>
    <div class="field">
      <%= f.label :"詳細" %>
      <%= f.text_field :introduction, class: "introduction" %>
    </div>
    </td>
   </tr>

   
   <tr>
    <td>画像</td>
    <td>
    <div class="field">
      <%= f.label :"画像" %>
      <%= f.attachment_field :profile_image %>
    </div>
    </td>
   </tr>
  </tbody>
 
</table>
<div class="actions">
	<%= f.submit "編集内容を保存する" %>
</div>
<% end %>
</div>
</div>
</div>
