
<div class="flex-item1">
				<table class="table table-hover table-inverse">

					<% @categories.each do |category| %>
						<tbody>
									<tr>
										<td><%=link_to category.name,categories_path(id:category.id)%></td>
									</tr>
						</tbody>
					<% end %>
				</table>
				<%= link_to "新しいジャンル作成", new_category_path, class: "btn btn-info" %>
			</div>

			<div class="flex-item2">
       <h1>全ジャンル一覧</h1>
				<% @recipes.each do |recipe| %>
				<table class="table tables-bordered">
					<tbody>
						<tr>
								<th><%= image_tag attachment_url(recipe.user, :profile_image, :fill, 50, 50, format: "jpg", fallback: "japan.jpg") %><br>
								<%=link_to recipe.user.user_name, user_path(recipe.user.id) %></th>
								<th><br><br><%= link_to recipe.title, recipe, class: "recipe_#{recipe.id}" %></th>
								<th><br><br>カテゴリー:<%=link_to recipe.category.name, categories_path(recipe.category.id) %></th>
								
								<th><br><br>更新日:<%= recipe.updated_at.to_s(:datetime_jp) %></th>
						</tr>
					</tbody>
				</table>
				<% end %>
		 </div>
	