<h1>Categories#new</h1>
<h1>ジャンル追加</h1>

<div class="container">
	<div class="row">
    <div class="col-xs-4">
				<table class="table table-hover table-inverse">
					<% @categories.each do |category| %>
						<tbody>
									<tr>
										<td><%=link_to category.name %></td>
									</tr>
						</tbody>
					<% end %>
				</table>
			
		</div>

		<div class="col-xs-8">
      <%= form_for(@category) do |f| %>
        <div class="field row">
        <table class="table table-hover table-inverse">
          <tr>
            <td><%= f.label :ジャンル名 %></td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit "追加" ,class: 'btn btn-info' %></td>
          </tr>
         </table> 
        </div>
        
      <% end %>
    </div>
  </div>
</div>