<!DOCTYPE html>
<html>
  <head>
    <title>Wsk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
  <div class="container m-5">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand " href="#">Plus Delicieux</a>
          <ul class="navbar-nav">
          <% if current_user == @user %>
            <li class="nav-item active">
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %></li>
            <li class="nav-item active">
              <%= link_to "logout", destroy_user_session_path, class: "nav-link", method: :delete %></li>
          <%end%>
            <li class="nav-item active">
              <%= link_to "レシピ一覧", recipes_path, class: "nav-link" %></li>
            <li class="nav-item active">
              <%= link_to "ジャンル一覧", categories_path, class: "nav-link" %></li>
            
          </ul>
     </nav>
    </div>
  </div>
  </header>

  <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
  <% end %>

    <%= yield %>
  </body>
</html>